################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assets Editor/Shaders
/Assets Editor/water.jpg
/Assets Editor/toolbar.png
/Assets Editor/terracotta.png
/Assets Editor/stone_brick.png
/Assets Editor/stone.png
/Assets Editor/spurce_plank.png
/Assets Editor/snow.jpg
/Assets Editor/selector.png
/Assets Editor/sandstone_top.png
/Assets Editor/sandstone_side.png
/Assets Editor/sand.png
/Assets Editor/oak_plank.png
/Assets Editor/oak_log.jpg
/Assets Editor/oak_bark.png
/Assets Editor/menu_background.jpg
/Assets Editor/logo.png
/Assets Editor/leaves.png
/Assets Editor/leaves.jpg
/Assets Editor/iron.png
/Assets Editor/inventory.png
/Assets Editor/grass_top.png
/Assets Editor/grass_side.png
/Assets Editor/granite.png
/Assets Editor/glass.png
/Assets Editor/Editor.mgcb
/Assets Editor/dirt.png
/Assets Editor/dirt.jpg
/Assets Editor/crosshair.png
/Assets Editor/cobblestone.png
/Assets Editor/button_selector.png
/Assets Editor/button.png
/Assets Editor/brick.png
/Assets Editor/block_outline.png
/Assets Editor/birch_plank.png
/Assets Editor/birch_log.png
/Assets Editor/birch_bark.png
/Assets Editor/bedrock.png
/.vs/SharpCraft/DesignTimeBuild
/.vs/SharpCraft/v16/.suo
/.vs/SharpCraft/v16/Browse.VC.db
/Assets Editor
/bin
/obj
/Properties
/SharpCraft Beta
/SharpCraft Pre-Alpha
/.editorconfig
/SharpCraft.sln
/SharpCraft.csproj
/icon.ico
/DevLog.txt
/Source/World/FastNoiseLite.cs
/Source/Effects/BlockEffect.fx
